
.display_box {
    border-radius: 64px;
    background: #232b2b;
    box-shadow: 13px 13px 28px #191f1f, 
                -13px -13px 28px #2d3737;            
    max-width: 24em;
    height: 12em;
    font-size: 8em;
    margin: 0 auto;
    margin-bottom: 5em;
}

.display_text {
    display: block;
    padding: 1em 1em 0em 1em;
    font-family: 'Exo', sans-serif;
}