
.display_box {
    background: #434351;
    border-radius: 15px;
    box-shadow: 6px 6px 8px #383843, 
    -6px -6px 8px #4e4e5f;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 8em;
    height: 10em;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 5em;
    max-width: 24em;
}

.display_text {
    color: white;
    display: block;
    font-family: 'Exo', sans-serif;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4em;
    padding: 1em 1em 0em 1em;
    text-align: justify;
    width: 80%;
}

.author_text_box {
    height:15%;
    width: 80%;
}

.author_text {
    margin-left: 25%;
    display: block;
}

.display_footer {
    display: flex;
    justify-content: space-around;
    position: relative;
    min-height: 35%;
    min-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.display_button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: 4em;
    width: 4em;   
}

#up {
    border-radius: 15px;
    background: #434351;
    box-shadow:  6px 6px 8px #383843, 
             -6px -6px 8px #4e4e5f;
    transition: box-shadow 1s linear, box-shadow 1s linear;
}



#down {
    border-radius: 15px;
    background: #434351;
    box-shadow: inset 6px 6px 8px #383843, 
            inset -6px -6px 8px #4e4e5f;
}

.copy_button {
    margin-left: 1em;
    left: 0;
}

.quote_button {
    margin-right: 1em;
    right: 0;
}


@media screen and (min-width: 320px) {
    .display_box {
        border-radius: 15px;
        background: #434351;
        box-shadow:  6px 6px 8px #383843, 
             -6px -6px 8px #4e4e5f;
        max-width: 90%;
        height: 24em;
        font-size: 1em;
        margin: 0 auto;
        margin-bottom: 9em;
    }

    .display_text {
        max-height: 50%;
    }

    .display_footer {
        height: 3em;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}