
.display_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 64px;
    background: #232b2b;
    box-shadow: 13px 13px 28px #191f1f, 
                -13px -13px 28px #2d3737;            
    max-width: 24em;
    height: 10em;
    font-size: 8em;
    margin: 0 auto;
    margin-bottom: 5em;
}

.display_text {
    display: block;
    padding-top: 4em;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 40%;
    padding: 1em 1em 0em 1em;
    font-family: 'Exo', sans-serif;
}

.author_text_box {
    height:15%;
    width: 80%;
}

.author_text {
    margin-left: 25%;
    display: block;
}

.display_footer {
    display: flex;
    justify-content: space-around;
    position: relative;
    min-height: 35%;
    min-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.display_button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    border: 1px solid red;
    height: 4em;
    width: 5em;   
}

.copy_button {
    margin-left: 1em;
    left: 0;
}

.quote_button {
    margin-right: 1em;
    right: 0;
}


@media screen and (min-width: 320px) {
    .display_box {
        border-radius: 32px;
        background: #232b2b;
        box-shadow: 13px 13px 28px #191f1f, 
                    -13px -13px 28px #2d3737;            
        max-width: 90%;
        height: 24em;
        font-size: 1em;
        margin: 0 auto;
        margin-bottom: 9em;
    }

    .display_text {
        max-height: 50%;
    }

    .display_footer {
        height: 3em;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}
